@require './basscss'
// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$miancolor = #303133;
$naturalcolor = #606266;
$secondarycolor = #909399;
$linkcolor = #409EFF;

.textlink{
  color: $linkcolor;
}
.textsecondary{
  color: $secondarycolor;
}
// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py


